@{ 
    Layout = "~/Views/Shared/courseLayout.cshtml";
}
<h4>点名补录</h4>
<div class="col-md-10" style="color:red;width:100%;text-align:center;">
    @ViewBag.msg
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        </div>
}